* {
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.BigCardContainer {
    background-color: black;
    height: 80vh;
    width: 1050px;

    border-radius: 20px;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(8, 1fr);

    grid-template-areas:
        "locationCard locationCard locationCard locationCard sunTime sunTime sunTime"
        "locationCard locationCard locationCard locationCard humidity wind visibility"
        "locationCard locationCard locationCard locationCard humidity wind visibility"
        "locationCard locationCard locationCard locationCard humidity wind visibility"
        "todaysForecast todaysForecast todaysForecast todaysForecast todaysForecast todaysForecast todaysForecast"
        "todaysForecast todaysForecast todaysForecast todaysForecast todaysForecast todaysForecast todaysForecast"
        "futureDaysForecast futureDaysForecast futureDaysForecast futureDaysForecast futureDaysForecast futureDaysForecast futureDaysForecast"
        "futureDaysForecast futureDaysForecast futureDaysForecast futureDaysForecast futureDaysForecast futureDaysForecast futureDaysForecast"
}

#locationCard {
    background-color: aquamarine;
    grid-area: locationCard;
}

#sunTime {
    background-color: orange;
    grid-area: sunTime;
}

#humidity {
    background-color: violet;
    grid-area: humidity;
}

#wind {
    background-color: blue;
    grid-area: wind;
}

#visibility {
    background-color: indigo;
    grid-area: visibility;
}

#todaysForecast {
    background-color: yellowgreen;
    grid-area: todaysForecast;
}

#futureDaysForecast {
    background-color: goldenrod;
    grid-area: futureDaysForecast;
}